<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Hello Vue</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>


</head>
<body>

<div id="app">
	<p>{{ message }}</p>
	<div v-if="seen">Este elemento sumirá definindo app.seen = false no console!</div>
</div>

<div id="app2">
	<span v-bind:title="title">Coloque o mouse sobre mim durante alguns segundos para ver meu título!</span>
</div>

<div id="app4">
	<ol>
		<li v-for="todo in todos">
		  {{ todo.text }}
		</li>
	</ol>
</div>

<div id="app5">
	<p>{{ message }}</p>
	<button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app6">
	<p>{{ mensagem }}</p>
	<input type="text" v-model="mensagem" />
</div>

<script>
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue.js!',
    seen: true,
  }
});

var app2 = new Vue({
	el: '#app2',
	data:
	{
		title: "Você carregou esta página em: " + new Date()
	}
});

var app4 = new Vue({
	el: "#app4",
	data:
	{
		todos: [
			{ text: "Aprender JavaScript" },
			{ text: "Aprender Vue" },
			{ text: "Montar alguma coisa incrível!" }
		]

	}
});

var app5 = new Vue({
	el: '#app5',
	data:
	{
		message: "Olá Vue.js!"
	},
	methods:
	{
		reverseMessage: function()
		{
			this.message = this.message.split('').reverse().join('');
		}
	}

});

var app6 = new Vue({
	el: '#app6',
	data:
	{
		mensagem: "Olá Vue.js!!!"
	}
});

</script>

</body>
</html>